
/**
 * 我们快完成了
 */

 pre:hover{
   box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
 }

 #skip-animation, #pause-resume {
   display: none;
 }

/**
 * 我希望你喜欢这个网站呐
 *
 */

/**
 * 顺便说一句，你可以编辑此框。 用新的css试一下！
 *
 * 举个栗子~
 *
 * text-shadow有以下参数:
 * 'x', 'y', 'blur', 'color'.
 *
 * 如果我想映射这些值
 * 我可以在其下放置一个15px的阴影，
 * 效果略有模糊
 */

.value {
  text-shadow: 0px 15px 1px white;
}

/**
 * 试试看！ 你可以做很多事情哦
 * 尝试使用文字大小，阴影，动画等等
 * 你可以break the page  我不说啥~
 * 哈哈哈哈哈哈
 */
